.govuk-table__cell {
  &:not(.no-wrap) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.organisation-status-tag {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 8px 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.govuk-tag--blue {
    color: #144e81;
    background-color: #d2e2f1;
  }

  &.govuk-tag--grey {
    color: #383f43;
    background-color: #eeefef;
  }
}
