<div class="govuk-width-container">
<app-notification-banner-component>
  <span text>41 organisations are pending activation. <a [routerLink]="['/pending']"> Check now.</a></span>  
</app-notification-banner-component>

 <h1 class="hmcts-page-heading__title govuk-heading-xl">Organisations</h1>
      <lib-govuk-table
        *ngIf="!(loading$ | async) else loading"
        [columnConfig]="columnConfig" [rows]="orgs$ | async" [firstCellIsHeader]="false" [caption]="''"
      ></lib-govuk-table>
      <ng-template #loading>
        <div>Loading...</div>
      </ng-template>
    </div>
