<h2 class="govuk-heading-l">
  Active organisations
  <span *ngIf="(activeOrgsCount$ | async) as activeOrgCount">({{activeOrgCount}})</span>
</h2>
<ng-container *ngIf="{loading: loading$ | async, activeSearchString: activeSearchString$ | async, orgs: orgs$ | async  } as data">

  <app-search-organisations-form *ngIf="!data.loading" [searchString]="data.activeSearchString" (submitForm)="submitSearch($event)"></app-search-organisations-form>
  
  <table class="govuk-table" *ngIf="!data.loading; else loading">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Organisation</th>
        <th class="govuk-table__header" scope="col">Address</th>
        <th class="govuk-table__header" scope="col">Administrator</th>
        <th class="govuk-table__header" scope="col">Date approved</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
      <tr class="govuk-table__row" *ngFor="let org of data.orgs | filterOrganisations: data.activeSearchString">
        <td class="govuk-table__cell">
          {{org.name}}<br>
          <span class="govuk-caption-m govuk-!-font-size-16">{{org.organisationId}}</span>
        </td>
        <td class="govuk-table__cell">
          <app-org-address [organisation]="org"></app-org-address>
        </td>
        <td class="govuk-table__cell">
          {{org.admin}}<br>
          <span class="govuk-caption-m govuk-!-font-size-16">{{org.adminEmail}}</span>
        </td>
        <td class="govuk-table__cell">
          {{org.dateApproved | date:'dd/MM/yyyy'}}
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" [routerLink]="['/organisation-details', org.organisationId]">View</a>
        </td>
      </tr>
    </thead>
  </table>
  <ng-template #loading>
    <h3 class="govuk-heading-s">Loading active organisations...</h3>
  </ng-template>
</ng-container>
