<h2 class="govuk-heading-l">
  Active organisations
  <ng-container *ngIf="(loaded$ | async)">
    ({{filteredOrgsCount}}<span *ngIf="searchString"> found</span>)
  </ng-container>
</h2>

<ng-container *ngIf="(loaded$ | async); else loading">

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Organisation</th>
        <th class="govuk-table__header" scope="col">Address</th>
        <th class="govuk-table__header" scope="col">Administrator</th>
        <th class="govuk-table__header" scope="col">Date approved</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
      <tr class="govuk-table__row govuk-radios" *ngFor="let org of filteredOrgs">
        <td class="govuk-table__cell">
          {{org.name}}<br>
          <span class="govuk-caption-m govuk-!-font-size-16">{{org.organisationId}}</span>
        </td>
        <td class="govuk-table__cell">
          <app-org-address [organisation]="org"></app-org-address>
        </td>
        <td class="govuk-table__cell">
          {{org.admin}}<br>
          <span class="govuk-caption-m govuk-!-font-size-16">{{org.adminEmail}}</span>
        </td>
        <td class="govuk-table__cell">
          {{org.dateReceived | date:'dd/MM/yyyy'}}
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" [routerLink]="['/organisation-details', org.organisationId]">View</a>
        </td>
      </tr>
    </thead>
  </table>
  
</ng-container>

<ng-template #loading>
  <h3 class="govuk-heading-s">Loading active organisations...</h3>
</ng-template>
