<div class="hmcts-width-container">
  <main class="govuk-main-wrapper">
    <app-notification-banner-component>
      <ng-container *ngIf="(pendingOrgsCount$ | async) as pendingOrg; ">
        <span>{{pendingOrg}} organisations are pending activation. <a [routerLink]="['/pending-organisations']"> Check now.</a></span>
      </ng-container>
      <ng-container *ngIf="!(pendingLoaded$ | async)">
        <h3 class="govuk-heading-s">Loading pending organisations...</h3>
      </ng-container>
    </app-notification-banner-component>

    <app-search-organisations-form [searchString]="activeSearchString$ | async" (submitForm)="submitSearch($event)"></app-search-organisations-form>

     <h1 class="hmcts-page-heading__title govuk-heading-xl">Active organisations</h1>
        <table class="govuk-table" *ngIf="!(loading$ | async); else loading">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Reference</th>
              <th class="govuk-table__header" scope="col">Address</th>
              <th class="govuk-table__header" scope="col">Administrator</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
            <tr class="govuk-table__row" *ngFor="let org of orgs$ | async | filterOrganisations: (activeSearchString$ | async)">
              <td class="govuk-table__cell">{{org.name}}<br><span class="govuk-caption-m govuk-!-font-size-16">{{org.organisationId}}</span></td>
              <td class="govuk-table__cell">
                {{org.addressLine1}}<br>
                <div *ngIf='org.addressLine2'>
                    {{org.addressLine2}}<br>
                </div>
                {{org.townCity}}<br>
                <div *ngIf='org.county'>
                  {{org.county}}<br>
                </div>
              </td>
              <td class="govuk-table__cell">{{org.admin}}<br><span class="govuk-caption-m govuk-!-font-size-16">{{org.adminEmail}}</span></td>
              <td class="govuk-table__cell"><span class="hmcts-badge hmcts-badge--green">{{org.status}}</span>
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" [routerLink]="['/organisation-details', org.organisationId]">View</a>
              </td>
            </tr>
          </thead>
        </table>
        <ng-template #loading>
          <h3 class="govuk-heading-s">Loading active organisations...</h3>
        </ng-template>
  </main>
</div>
