                 <div class="govuk-width-container">
                   <main class ="govuk-main-wrapper" id="main-content" role="main">
                   <h1 class="hmcts-page-heading__title govuk-heading-xl">Organisations pending activation</h1>
                        <lib-govuk-table (valueChange)='displayCounter($event)'
                          *ngIf="!(loading$ | async) else loading"
                          [columnConfig]="columnConfig" [rows]="pendingOrgs$ | async" [firstCellIsHeader]="false" [caption]="''"
                        ></lib-govuk-table>
                        <ng-template #loading>
                          <div>Loading...</div>
                        </ng-template>
                      </main>
                      </div>

                <table class="{{'govuk-table ' + classes}}" role="presentation">
                  <caption class="govuk-table__caption">{{caption}}</caption>
                  <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col" *ngFor="let h of columnConfig">{{h.header}}</th>
                      </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                      <tr data-selector="table-row" class="govuk-table__row" *ngFor="let r of pendingOrgs$ | async">
                          <ng-container *ngFor="let col of columnConfig; first as isFirst">
                              <th data-selector="table-header" class="govuk-table__header" scope="row" *ngIf="isFirst && firstCellIsHeader">
                                  <ng-container [ngSwitch]="'col.type'">
                                      <ng-container *ngSwitchCase="'link'">
                                          <a class="govuk-link" [routerLink]="r.routerLink">{{r[col.key]}}</a>
                                      </ng-container>
                                      <ng-container *ngSwitchDefault>
                                          {{r.view}}
                                      </ng-container>
                                  </ng-container>
                              </th>
                              <td data-selector="table-cell" class="govuk-table__cell" *ngIf="!(isFirst && firstCellIsHeader)">
                                  <ng-container [ngSwitch]="col.type">
                                      <ng-container *ngSwitchCase="'link'">
                                          <a class="govuk-link" [routerLink]="r.routerLink">{{r[col.key]}}</a>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="'styled'">
                                          <span class={{col.class}}>{{r[col.key]}}</span>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="'multi-column'">
                                          <span>{{r[col.key]}}</span>
                                          <br>
                                          <span class={{col.class}}>{{r[col.multiColumnMapping]}}</span>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="'checkbox'">
                                              <div class="govuk-checkboxes__item">
                                              <input class ="govuk-checkboxes__input" id="pending1" name="pending" type="checkbox" value (change)="checkChanged($event.target.checked)"
                                              [checked]="displayCode">
                                              <label class="govuk-label govuk-checkboxes__label" for="pending1"></label>
                                     
                                              </div>
                                              <form [formGroup]="myForm">
                                                <div *ngFor="let pending of pendingOrgs$ | async">
                                                    <input type="checkbox" (change)="onChange(pending.id, $event.target.checked)"> {{pending.id}}<br>
                                                </div>
                                            </form>
                                          </ng-container>
                                      <ng-container *ngSwitchDefault>
                                          {{r[col.key]}}
                                      </ng-container>
                                  </ng-container>
                              </td>
                          </ng-container>
                      </tr>
                  </tbody>
              </table>  
       


<pre>Form values: {{myForm.value | json}}</pre>






              
              

   