apiVersion: v2
name: xui-ao-webapp
home: https://github.com/hmcts/rpx-xui-approve-org
version: 0.2.9
description: Expert UI
maintainers:
  - name: HMCTS RPX XUI
dependencies:
  - name: nodejs
    version: 2.3.3
    repository: '@hmctspublic'
  - name: redis
    version: 10.6.18
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: idam-pr
    version: ~2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled