nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    NODE_TLS_REJECT_UNAUTHORIZED: 0
    PUI_ENV: preview
    IDAM_API_SERVICE: https://idam-api.aat.platform.hmcts.net
    IDAM_WEB_SERVICE: https://idam-web-public.aat.platform.hmcts.net
    FEATURE_SECURE_COOKIE_ENABLED: true
    ISS_SERVICE: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
    SERVICES_PRD_COMMONDATA_API: http://rd-commondata-api-aat.service.core-compute-aat.internal
    REDISCLOUD_URL: redis://${SERVICE_NAME}-redis-master:6379
    FEATURE_OIDC_ENABLED: true
    IDAM_CLIENT: XUIAOWEBAPP_passport_0_7
  keyVaults:
    rpx:
      secrets:
        - ao-s2s-client-secret
        - ao-idam-client-secret
        - appinsights-connection-string-ao
        - name: launch-darkly-client-id-preview
          alias: launch-darkly-client-id
  autoscaling:
    enabled: false
redis:
  enabled: true
idam-pr:
  enabled: true
  redirect_uris:
    XUIAO:
      - https://${SERVICE_FQDN}/oauth2/callback
