nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    IDAM_URL: https://idam-api.aat.platform.hmcts.net
    S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    CCD_DATA_API_SERVICE: https://ccd-data-store-api-demo.service.core-compute-demo.internal
    CCD_DEFINITION_API_SERVICE: https://ccd-definition-store-api-demo.service.core-compute-demo.internal
    IDAM_API_SERVICE: https://idam-api.aat.platform.hmcts.net
    IDAM_WEB_SERVICE: https://idam-web-public.aat.platform.hmcts.net
    RD_PROFESSIONAL_API_SERVICE: https://rd-professional-api-aat.service.core-compute-aat.internal
    S2S_SERVICE: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
