nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    IDAM_URL: https://idam-api.aat.platform.hmcts.net
    S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    NODE_TLS_REJECT_UNAUTHORIZED: 0
    S2S_SECRET: ${S2S_SECRET}
    IDAM_SECRET: ${IDAM_SECRET}
    CCD_DATA_API_SERVICE: https://ccd-data-store-api-demo.service.core-compute-demo.internal
    CCD_DEFINITION_API_SERVICE: https://ccd-definition-store-api-demo.service.core-compute-demo.internal
    IDAM_API_SERVICE: https://idam-api.aat.platform.hmcts.net
    IDAM_WEB_SERVICE: https://idam-web-public.aat.platform.hmcts.net
    RD_PROFESSIONAL_API_SERVICE: http://rd-professional-api-aat.service.core-compute-aat.internal
    S2S_SERVICE: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    PROXY_HOST: 172.16.0.7
    PROXY_PORT: 0
    REFORM_TEAM: rpx
    REFORM_SERVICE_NAME: xui-ao-webapp
    NODE_ENV: production
    UV_THREADPOOL_SIZE: 64
    APPINSIGHTS_INSTRUMENTATIONKEY: ${APPINSIGHTS_INSTRUMENTATIONKEY}
    PUI_ENV: preview
    SESSION_SECRET: secretSauce
    PORT: 3000
    NOW: false
    IDAM_CLIENT: xuiaowebapp
    OAUTH_CALLBACK_URL: /oauth2/callback
    MAX_LOG_LINE: 80
    EXCEPTION_OPTIONS_MAX_LINES: 1
    INDEX_URL: /
    LOGGING: debug
    PROTOCOL: http
    SECURE_COOKIE: false
    COOKIE_TOKEN: __auth__
    COOKIE_USER_ID: __userid__
    MICROSERVICE: xui_webapp
