<nav *ngIf="isUserLoggedIn" class="hmcts-primary-navigation" [attr.aria-label]="label">
  <div class="govuk-width-container">
    <div class="govuk-header__logo" *ngIf="isBrandedHeader"></div>
    <ul class="govuk-list">
      <li class="govuk-header__navigation-item"  *ngFor="let item of items">
        <ng-container *ngIf="(isFeatureNavEnabled$(item) | async)">
          <a class="govuk-header__link" [attr.aria-current]="item.active ? true: null" [routerLink]="item.href">{{item.text}}</a>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>

