  .jui-button-actions {
    @include govuk-clearfix;
  }


  /* Style variants
     ========================================================================== */

  @include govuk-media-query($from: tablet) {

    .jui-button-actions__item--inline {
      float: left;
      margin-right: govuk-spacing(4);
    }

  }