

<ng-container *ngIf="org; else noOrg">
  <ng-container *ngIf="org.status==='PENDING' || org.status==='REVIEW'; else showheading">
    <h1 class="govuk-heading-xl">Approve organisation</h1>
  </ng-container>
  <ng-template #showheading>
    <h1 class="govuk-heading-xl">Organisation details </h1>
  </ng-template>
  <div>
    <h3 class="govuk-heading-m">Organisation details</h3>
    <dl class="govuk-summary-list" *ngIf="org">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{org.name}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SRA ID
        </dt>
        <dd class="govuk-summary-list__value">
          {{org.sraId}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Administrator
        </dt>
        <dd class="govuk-summary-list__value">
          <div>{{org.admin}}</div>
          <div class="govuk-caption-m govuk-!-font-size-16">{{org.adminEmail}}</div>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <app-org-address [organisation]="org"></app-org-address>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          DX
        </dt>
        <dd class="govuk-summary-list__value">
          {{org.dxNumber[0]?.dxNumber}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <br>
        <br>
        <h3 class="govuk-heading-m">PBAs</h3>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          PBA number
        </dt>
        <dd class="govuk-summary-list__value">
          <div *ngFor="let pba of org.pbaNumber; let i = index">
            {{pba}}
          </div>
          <div *ngIf="org.pbaNumber.length==0">
            No PBA Provided
          </div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a [routerLink]="['/change', 'pba', org.organisationId, org.pbaNumber.join(',')]">
            {{org.pbaNumber.length ? 'Change' : 'Add'}}
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border" *ngIf="org.pbaNumber.length!=0">
        <dt class="govuk-summary-list__key">
          Name on Liberata account
        </dt>
        <dd class="govuk-summary-list__value">
            <span *ngIf="!!org?.accountDetails">
              {{org?.accountDetails[0]?.account_name}}
            </span>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
      </div>
    </dl>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          What would you like to do with this registration?
        </legend>
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="approve">
            <label class="govuk-label govuk-radios__label" for="decision">
              Approve it
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="decision-2" name="decision" type="radio" value="reject">
            <label class="govuk-label govuk-radios__label" for="decision-2">
              Reject it
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="decision-3" name="decision" type="radio" value="hold">
            <label class="govuk-label govuk-radios__label" for="decision-3">
              Place registration under review pending further investigation
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <br>
    <button class="govuk-button" data-module="govuk-button">
      Submit
    </button>
  </div>
</ng-container>

<ng-template #noOrg>
  <h2 class="govuk-heading-l">Sorry, there is a problem with the service</h2>
  <p>Try again later.</p>
</ng-template>
