<ng-container *ngIf="org; else noOrg">
  <h1 class="govuk-heading-xl">Confirm your decision</h1>
  <app-pba-account-decision *ngFor="let pba of orgFiltered.pbaNumber; let i = index" [pbaNumber]="pba"
    [accountName]="orgFiltered.accountDetails[i]?.account_name" [organisationId]="org.organisationId"
    [decision]="decision[i]">
  </app-pba-account-decision>

  <button class="govuk-button" data-module="govuk-button" (click)="confirmPBAs()">
    Confirm
  </button>
</ng-container>

<ng-template #noOrg>
  <h2 class="govuk-heading-l">Sorry, there is a problem with the service</h2>
  <p>Try again later.</p>
</ng-template>
