<ng-container *ngIf="org; else noOrg">
  <div class="govuk-grid-row">
    <div *ngIf="isInactiveOrgError" id="errorSummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
          data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#">Activate organisation before managing PBA.</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h1 class="govuk-heading-xl">Confirm your decision</h1>
  <app-pba-account-decision *ngFor="let pba of org.pendingPaymentAccount; let i = index" [pbaNumber]="pba"
    [accountName]="org.accountDetails[i]?.account_name" [organisationId]="org.organisationId"
    [decision]="newPBAs.get(pba) === 'accepted' ? 'Approve the account' : 'Reject the account'">
  </app-pba-account-decision>

  <button class="govuk-button" data-module="govuk-button" (click)="confirmPBAs()">
    Confirm
  </button>
</ng-container>

<ng-template #noOrg>
  <h2 class="govuk-heading-l">Sorry, there is a problem with the service</h2>
  <p>Try again later.</p>
</ng-template>
