<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      Organisation approved successfully
                    </h1>
                </div>
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    The administrators will receive an email to finish setting up their account.
                </p>
                <p class="govuk-body">
                    <span text><a [routerLink]="['/']"> Back to organisations</a></span>
                </p>
            </div>
        </div>
    </main>
</div>
