<div class="hmcts-width-container">
    <app-back-link [store]="store"></app-back-link>
    <main id="content" class="govuk-main-wrapper" role="main" tabindex="-1">
      <div class="govuk-grid-row">
        <div *ngIf="serverResponseMessages$ | async" id="errorSummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
              data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            Sorry, there is a problem with the service
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Try again later</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Confirm your decision</h1>
              <ng-container *ngIf="orgForReview">
                <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <div>{{orgForReview.name}}</div>
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Decision
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Approve the organisation
                    </dd>
                  </div>
                  </dl>
              </ng-container>
              <button type="button" class="govuk-button" [disabled]="!disabled" (click)="onApproveOrganisations()">
                  Confirm
              </button>
        </div>
      </div>
    </main>
</div>
