<div class="hmcts-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <app-notification-banner-component>
      <ng-container *ngIf="(activeOrgsCount$ | async) as activeOrgCount; ">
        <span>{{activeOrgCount}} organisations are active. <a [routerLink]="['/active-organisation']"> active organisations.</a></span>
      </ng-container>
      <ng-container *ngIf="!(activeLoaded$ | async)">
        <h3 class="govuk-heading-s">Loading active organisations...</h3>
      </ng-container>
    </app-notification-banner-component>
    <h1 class="hmcts-page-heading__title govuk-heading-xl">Organisations pending activation</h1>
    <ng-container *ngIf="{pendingSearchString: pendingSearchString$ | async, pendingOrgs: pendingOrgs$ | async } as data">
     <ng-container *ngIf="(loaded$ | async); else loading">
      <app-search-organisations-form [searchString]="data.pendingSearchString" (submitForm)="submitSearch($event)"></app-search-organisations-form>
      <form [formGroup]="inputForm">
       <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Address</th>
              <th class="govuk-table__header" scope="col">Administrator</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
            <tr class="govuk-table__row govuk-radios" *ngFor="let org of data.pendingOrgs | filterOrganisations: data.pendingSearchString">
              <td class="govuk-table__cell">{{org.name}}<br><span class="govuk-caption-m govuk-!-font-size-16">{{org.organisationId}}</span></td>
              <td class="govuk-table__cell">
                {{org.addressLine1}}<br>
                <div *ngIf='org.addressLine2'>
                    {{org.addressLine2}}<br>
                </div>
                {{org.townCity}}<br>
                <div *ngIf='org.county'>
                  {{org.county}}<br>
                </div>
                <div *ngIf='org.postCode'>
                  {{org.postCode}}<br>
                </div>
              </td>
              <td class="govuk-table__cell">{{org.admin}}<br><span class="govuk-caption-m govuk-!-font-size-16">{{org.adminEmail}}</span></td>
              <td class="govuk-table__cell"><span class="hmcts-badge">{{org.status}}</span>
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" [routerLink]="['/organisation-details', org.organisationId]">View</a>
              </td>
            </tr>
          </thead>
        </table>
      </form>
    </ng-container>
    <ng-template #loading>
      <h3 class="govuk-heading-s"><span>Loading...</span></h3>
    </ng-template>
    </ng-container>
  </main>
</div>
