<div class="hmcts-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Upload successful
          </h1>
          <div class="govuk-panel__body">
            <br>
          </div>
        </div>
        <p class="govuk-body"></p>
        <p class="govuk-body"> {{uploadResponse.message_details}}<br>
        </p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You’ll now be able to assign tasks to your colleagues <a href="https://manage-case.platform.hmcts.net/"
            target="_">using the Manage cases application</a>.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link"></a>
        </p>
      </div>
    </div>
  </main>
</div>