 <ng-container *ngIf="{org: orgs$ | async} as data">
  <app-identity-bar-component>
    <strong>{{data.org?.name}}</strong>
    <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(data.org?.status=='ACTIVE') ?
    'hmcts-badge--green':'hmcts-badge--blue'">
      {{data.org?.status}}
    </span>
  </app-identity-bar-component>
  <div class="hmcts-width-container">
    <xuilib-hmcts-main-wrapper [title]="'Organisation details'" [backLink]="true" (backEvent)="onGoBack()">
      <ng-container *ngIf="!data.org; else showOrg">
        <h3 class="govuk-heading-s">Loading...</h3>
      </ng-container>
      <ng-template #showOrg>
        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">
          <ul class="hmcts-sub-navigation__list">
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page">
                Organisation details
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="">
                Users
              </a>
            </li>
          </ul>
        </nav> 
        <app-org-details-info [org]="data.org" (approveEvent)="approveOrganisation($event)">
        </app-org-details-info>
      </ng-template>
     </xuilib-hmcts-main-wrapper>
  </div>
  </ng-container>



