 <ng-container *ngIf="{org: orgs$ | async, userLists: userLists$ | async} as data">
  <app-identity-bar-component>
    <strong>{{data.org?.name}}</strong>
    <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(data.org?.status=='ACTIVE') ?
    'hmcts-badge--green':'hmcts-badge--blue'">
      {{data.org?.status}}
    </span>
  </app-identity-bar-component>
  <div class="hmcts-width-container">
    <xuilib-hmcts-main-wrapper [backLink]="true" (backEvent)="onGoBack()">
      <ng-container *ngIf="!data.org; else showOrg">
        <h1 class="govuk-heading-xl">Organisation details</h1>
        <h3 class="govuk-heading-s">Loading...</h3>
      </ng-container>
      <ng-template #showOrg>
        <ng-container *ngIf="userDetails && showUserDetails; else showNav">
          <h1 class="govuk-heading-xl">User</h1>
          <xuilib-user-details [user]="userDetails"></xuilib-user-details>
        </ng-container>
        <ng-template #showNav>
          <nav class="hmcts-sub-navigation" aria-label="Sub navigation" *ngIf="data.org.status === ACTIVE">
            <ul class="hmcts-sub-navigation__list">
              <li class="hmcts-sub-navigation__item">
                <a *ngIf="!showUsers" class="hmcts-sub-navigation__link" aria-current="page">
                  Organisation details
                </a>
                <a  *ngIf="showUsers" class="hmcts-sub-navigation__link" (click)="showUsersTab(false)" [routerLink]="">
                  Organisation details
                </a>
              </li>
              <li class="hmcts-sub-navigation__item">
                <a *ngIf="showUsers" class="hmcts-sub-navigation__link" aria-current="page">
                  Users
                </a>
                <a *ngIf="!showUsers" class="hmcts-sub-navigation__link" (click)="showUsersTab(true)" [routerLink]="">
                  Users
                </a>
              </li>
            </ul>
          </nav>
          <ng-container *ngIf="showUsers; else showOrgDetails">
            <h1 class="govuk-heading-xl">User</h1>
            <xuilib-user-list *ngIf="data.userLists" [users]="data.userLists" (userClick)="onShowUserDetails($event)"></xuilib-user-list>
          </ng-container>
          <ng-template #showOrgDetails>
            <app-org-details-info [org]="data.org" (approveEvent)="approveOrganisation($event)">
          </app-org-details-info>
          </ng-template>
        </ng-template>
      </ng-template>
     </xuilib-hmcts-main-wrapper>
  </div>
  </ng-container>



