 <ng-container *ngIf="(orgs$ | async) as data">
  <app-identity-bar-component>
    <strong>{{data?.name}}</strong>
    <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(data?.status=='ACTIVE') ?
    'hmcts-badge--green':'hmcts-badge--blue'">
      {{data?.status}}
    </span>
  </app-identity-bar-component>
  <div class="hmcts-width-container">
    <lib-gov-uk-main-wrapper [title]="'Organisation details'" [backLink]="true">
      <dl class="govuk-check-your-answers govuk-check-your-answers--pba-overview">
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
               {{data?.name}}
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
               {{data?.addressLine1}}<br>
               <div *ngIf='data.addressLine2'>
                   {{data?.addressLine2}}<br>
               </div>
               {{data.townCity}}<br>
               <div *ngIf='data.county'>
                  {{data?.county}}<br>
               </div>
                <div *ngIf='data.postCode'>
                    {{data?.postCode}}<br>
                </div>
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               PBA number
            </dt>
            <dd class="govuk-check-your-answers__answer">
                <div *ngFor="let pba of data?.pbaNumber; let i = index">
                    {{pba}}
                    <span class="govuk-caption-m govuk-!-font-size-16">
                        Account name:
                        <span *ngIf="data?.accountDetails">
                            {{data?.accountDetails[i]?.account_name}}
                        </span>
                        <span *ngIf="!data?.accountDetails">loading...</span>
                    </span>
                </div>
            </dd>
            <dd class="govuk-check-your-answers__change">
                  <a [routerLink]="['/change', 'pba', data?.organisationId, data?.pbaNumber.join(',')]">
                  {{data?.pbaNumber.length ? 'Change' : 'Add'}}
                  </a>
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               DX number
            </dt>
            <dd class="govuk-check-your-answers__answer">
               {{data.dxNumber[0]?.dxNumber}}
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               DX exchange
            </dt>
            <dd class="govuk-check-your-answers__answer">
               {{data.dxNumber[0]?.dxExchange}}
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               Administrator
            </dt>
            <dd class="govuk-check-your-answers__answer">
               <div>{{data?.admin}}</div>
               <div class="govuk-caption-m govuk-!-font-size-16">{{data?.adminEmail}}</div>
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
         <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
               SRA Id
            </dt>
            <dd class="govuk-check-your-answers__answer">
               {{data?.sraId}}
            </dd>
            <dd class="govuk-check-your-answers__change">
            </dd>
         </div>
      </dl>

    </lib-gov-uk-main-wrapper>
  </div>
  </ng-container>
 <ng-container *ngIf="!(orgs$ | async)">
   <div class="hmcts-width-container">
     <lib-gov-uk-main-wrapper [title]="'Organisation details'">
       <h3 class="govuk-heading-s">Loading...</h3>
     </lib-gov-uk-main-wrapper>
   </div>
 </ng-container>



