<ng-container *ngIf="(orgDetails$ | async) as org">
<app-identity-bar-component>
  <strong>{{org?.name}}</strong>
  <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(org?.status=='ACTIVE') ?
  'hmcts-badge--green':'hmcts-badge--blue'">
    {{org?.status}}
  </span>
</app-identity-bar-component>


<div class="hmcts-width-container">
  <lib-gov-uk-main-wrapper
          [summaryErrors]="pbaErrorsHeader$ | async"
          title="Organisation payment by account (PBA) number"
          [backLink]="true">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form [formGroup]="changePbaFG" (ngSubmit)="onSubmitPba()" >
          <ng-container *ngIf="(pbaError$ | async) as errors">
            <lib-gov-uk-input *ngFor="let data of pbaInputs"
              [config]="data.config"
              [errorMessage]="errors[data.config.name]"
              [group]="changePbaFG">
            </lib-gov-uk-input>
          </ng-container>
          <button type="submit" class="govuk-button" [disabled]="!saveDisabled">
            Save
          </button>
        </form>
      </div>
    </div>
  </lib-gov-uk-main-wrapper>
</div>
</ng-container>
<ng-container *ngIf="!(orgDetails$ | async)">
  <div class="hmcts-width-container">
    <lib-gov-uk-main-wrapper title="Organisation payment by account (PBA) number">
      <h3 class="govuk-heading-s">Loading...</h3>
    </lib-gov-uk-main-wrapper>
  </div>
</ng-container>


