<ng-container *ngIf="(orgDetails$ | async) as org">
<app-identity-bar-component>
  <strong>{{org?.name}}</strong>
  <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(org?.status=='ACTIVE') ?
  'hmcts-badge--green':'hmcts-badge--blue'">
    {{org?.status}}
  </span>
</app-identity-bar-component>
<div class="hmcts-width-container">
  <xuilib-hmcts-main-wrapper
    [summaryErrors]="pbaErrorsHeader$ | async"
    title="Organisation payment by account (PBA) number"
    [banner]="serverError$ | async"
    (backEvent)="onGoBack()">
    <form [formGroup]="changePbaFG" (ngSubmit)="onSubmitPba()" >
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
            <ng-container style="width:100%" *ngIf="(pbaError$ | async) as errors">
              <div style="width:50%" *ngFor="let data of pbaInputs; let i = index">
                <div style="display:inline-block">
                  <app-prd-pba-number-input-component [id]="'pba-number-input' + i"
                    [errorMessages]="errors[data.name]"
                    [config]="data"
                    [group]="changePbaFG">
                  </app-prd-pba-number-input-component>
                  <!-- <xuilib-gov-uk-input
                    [config]="data"
                    [errorMessage]="errors[data.name]"
                    [group]="changePbaFG">
                  </xuilib-gov-uk-input> -->
                </div>
                <button type="button"
                  style="display: inline-block; margin-bottom: 30px;" 
                  class="govuk-button hmcts-search__button govuk-button--secondary" 
                  (click)="remove(data)">Remove</button>
              </div>
            </ng-container>
        
          <div>
            <button type="button" class="govuk-button hmcts-button--secondary" (click)="onAddNewBtnClicked()">
              Add another PBA number
              </button>
            </div>
            <button type="submit" class="govuk-button">
              Submit
            </button>
        </div>
      </div>
    </form>
  </xuilib-hmcts-main-wrapper>
</div>
</ng-container>
<ng-container *ngIf="!(orgDetails$ | async)">
  <div class="hmcts-width-container">
    <xuilib-hmcts-main-wrapper title="Organisation payment by account (PBA) number" *ngIf="!loaded">
      <h3 class="govuk-heading-s">Loading...</h3>
    </xuilib-hmcts-main-wrapper>
  </div>
</ng-container>

