<ng-container *ngIf="(orgDetails$ | async) as org">
<app-identity-bar-component>
  <strong>{{org?.name}}</strong>
  <span style="margin-left: 10px; display: inline-block" class="hmcts-badge" [ngClass]="(org?.status=='ACTIVE') ?
  'hmcts-badge--green':'hmcts-badge--blue'">
    {{org?.status}}
  </span>
</app-identity-bar-component>


<div class="hmcts-width-container">
  <xuilib-hmcts-main-wrapper
    [summaryErrors]="pbaErrorsHeader$ | async"
    title="Organisation payment by account (PBA) number"
    [banner]="serverError$ | async"
    (backEvent)="onGoBack()">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form [formGroup]="changePbaFG" (ngSubmit)="onSubmitPba()" >
          <ng-container *ngIf="(pbaError$ | async) as errors">
            <xuilib-gov-uk-input *ngFor="let data of pbaInputs"
              [config]="data.config"
              [errorMessage]="errors[data.config.name]"
              [group]="changePbaFG">
            </xuilib-gov-uk-input>
          </ng-container>
          <button type="submit" class="govuk-button" [disabled]="!saveDisabled">
            Submit
          </button>
        </form>
      </div>
    </div>

  </xuilib-hmcts-main-wrapper>
</div>
</ng-container>
<ng-container *ngIf="!(orgDetails$ | async)">
  <div class="hmcts-width-container">
    <xuilib-hmcts-main-wrapper title="Organisation payment by account (PBA) number">
      <h3 class="govuk-heading-s">Loading...</h3>
    </xuilib-hmcts-main-wrapper>
  </div>
</ng-container>


