<div class="hmcts-width-container">
  <main id="content" class="govuk-main-wrapper govuk-main-wrapper--l" role="main" tabindex="-1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Site map</h1>

        <h2 class="govuk-heading-l">Organisations</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" routerLink="/organisation/pending">New registrations</a></li>
          <li><a class="govuk-link" routerLink="/organisation/pbas">New PBAs</a></li>
          <li><a class="govuk-link" routerLink="/organisation/active">Active organisations</a></li>
        </ul>

        <h2 class="govuk-heading-l">Staff</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" routerLink="/caseworker-details">Staff details</a></li>
        </ul>

        <h2 class="govuk-heading-l">Help and information</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" routerLink="/accessibility">Accessibility statement</a></li>
          <li><a class="govuk-link" routerLink="/cookies">Cookies</a></li>
          <li><a class="govuk-link" routerLink="/privacy-policy">Privacy policy</a></li>
          <li><a class="govuk-link" routerLink="/terms-and-conditions">Terms and conditions</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
