<div id="quick-links" class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m">Quick links</h3>
  <ul class="govuk-list">
    <li *ngIf="sraId">
      <a class="govuk-link" href="https://www.sra.org.uk/consumers/register/organisation/?sraNumber={{sraId}}"
        target="_blank">Check SRA</a>
    </li>
    <br />
    <li>
      <a class="govuk-link" href="https://solicitors.lawsociety.org.uk/search/results?Name={{organisationNameEncoded}}"
        target="_blank">Check Law Society</a>
    </li>
    <br />
    <li>
      <a class="govuk-link" href="https://www.google.com/search?q={{organisationNameEncoded}}" target="_blank">Google '{{organisationName}}'</a>
    </li>
    <br />
    <li>
      <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/" target="_blank">Company information register</a>
    </li>
  </ul>
</div>
