/* You can add global styles to this file, and also import other style files */


// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "";
$jui-assets-path : "";

$govuk-global-styles: true;
@import "~govuk-frontend/govuk/all";
@import "~@hmcts/frontend/all";
@import "./assets/sass/application";

.stay-signed-in-button {
  margin-right: 15px;
}
