/* ==========================================================================
   #COLOURS
   ========================================================================== */

$hmcts-border-color: rgb(161, 172, 178);
$hmcts-secondary-text-color: rgb(69, 74, 76);

$hmcts-secondary-link-color: rgb(69, 74, 76);
$hmcts-secondary-link-hover-color: rgb(23, 24, 25);
