/* ==========================================================================
   #MEASUREMENTS
   ========================================================================== */

// Width of main container
$hmcts-page-width: 960px !default;


// Width of gutter between grid columns
$hmcts-gutter: 30px !default;


// Width of half the gutter between grid columns
$hmcts-gutter-half: $hmcts-gutter / 2;
