# Playwright env template for RPX XUI Approve Org.
# Populate automatically from Key Vault:
#   yarn env:populate:playwright:aat
#   yarn env:populate:playwright:demo

TEST_ENV=
TEST_URL=
EXUI_BASE_URL=
TEST_REGISTER_URL=
MANAGE_ORG_API_PATH=

AO_ADMIN_USERNAME=
AO_ADMIN_PASSWORD=

PLAYWRIGHT_ORG_REGISTRATION_MODE=seed
PLAYWRIGHT_PENDING_ORG_TIMEOUT_MS=180000
PW_SESSION_MAX_AGE_MS=86400000
